body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b9b4b4;
    color: #3f3d56;
    padding: 5vh 5vw;
    min-height: 50vh;
    text-align: justify;


}
h1{
    color: #b8eed4;
    font-size: 35pt;
    background-color: #3f3d56;
    text-align: center;
}