* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-verde: #b8eed4;
  --color-azulado: #3f3d56;
  --color-gris-oscuro: #807a7a;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0; 
}

 h1 {
  font-size: 60px;
  }

/* Barra de Navegación */
.navbar {
  background: var(--color-gris-oscuro);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-weight: bold;
  font-size: 40px;
  margin: 15px;
  color:var(--color-verde) ;
  animation-name: left-to-right;
  animation-duration: 2s;
  padding-left: 4vw;
}

.nav_logo i{
  font-size: 45px;
}
.nav_items a{
  font-weight: bold;
  font-size: 18px;
  margin: 15px;
  color:var(--color-verde) ;
  text-decoration: none;
  position: relative;
}
.nav_items a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--color-verde);
  transition: all 0.5s;
}
.nav_items a:hover::before{
  width: 100% !important;
}

.nav_toggle {
  display: none;
}

/* MAIN HERO*/

.hero {
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
  background: linear-gradient(180deg, #807a7a, #bbb6b6);
  
}

.hero .img-container {
  width: 75%;
  padding-right: 5vw;
}
.hero .img-container img{
  width: 100%;

}
.hero-info h1{
  color: white;
}

.hero-info p{
  font-size: 25px;
  color: var(--colo-azulado);
}

.palabra_verde {
  color: var(--color-verde);
}


/* SECTION NOSOTROS */
.nosotros {
  background-color: #3f3d56;
  color: var(--color-verde);
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
}
.nosotros p{
  font-size: 30px;
  text-align: justify;
}

.servicios {
  background-color: #b9b4b4;
  color: #3f3d56;
  padding: 5vh 5vw; 
  min-height: 50vh;
}
.informacion p {
  font-size: 18px;
  text-align: justify;
}


/* CONTACTO */
.contacto {
  background-color:#3f3d56;
  padding: 10 px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contenedorUsuarios{
  max-width: 700px;
  width: 100%;
  background:#b9b4b4;
  padding: 25px 30px;
  border-radius: 10px;
  color:#3f3d56;
}
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}

.contenedorUsuarios h1{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.contenedorUsuarios form .caja{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .caja .inputContainer{
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
}

.caja .inputContainer .datos{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.caja .inputContainer input, select{
  height: 30px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
form .comentar {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form textarea {
  width: 98%;
  height: 60px; /* ajustar según la altura deseada */
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  margin-bottom: 10px;
  
}

/* form .comentar {
  width: 45px;
  height: 45px 0; 
} */

/* FOOTER */

.footer-distributed{
	background:var(--color-azulado);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


@keyframes left-to-right{
  0%{
      transform: translateX(-500px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
}

/* calculadora de IMC */


.calculator {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

button {
  background-color:var(--color-verde);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

button:hover {
  background-color: #0069d9;
}

.result {
  display: none;
  margin-top: 20px;
}

.result p {
  margin-bottom: 10px;
}

.result h2 {
  font-size: 48px;
  margin: 0;
}

.error {
  color: red;
}



/* Estilos para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
    .nav_items {
      position: absolute;
      left: 0;
      top: 60px;
      background: rgba(184, 238, 212, 0.79);
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      transform: translateX(-100%);
      transition: 0.3s ease all;
    }
    .nav_items a{
      text-align: center;
      color: var(--color-azulado);
    }
    .nav_toggle {
      display: flex !important;
      flex-direction: column;
      margin: 15px;
    }
    .nav_toggle span{
      width: 30px;
      height: 4px;
      background:var(--color-verde);
      margin-bottom: 5px;
      border-radius: 2px;
      transform-origin: 5px 0px;
      transition: 0.2s linear;
    }
    .close span{
      transform: rotate(45deg) translate(0px, 0px);
    }
    .close span:nth-child(2){
      display: none;
    }
    .close span:nth-child(3){
      transform: rotate(-45deg) translate(-5px, 1px);
    }
    .open {transform: translateX(0) !important;}


    /* Ajustar el tamaño de la fuente */
    h1 {
      font-size: 2rem;
    }
    label {
      font-size: 1.2rem;
    }
    input[type="text"], input[type="number"] {
      font-size: 1.2rem;
      width: 80%;
    }
    button {
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
    }
  }
  
 