
body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0; 
}

/* Barra de Navegación */
.navbar {
  background:  rgb(184, 238, 212);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-weight: bold;
  font-size: 25px;
  margin: 15px;
  color: white;
}
.nav_logo i{
  font-size: 45px;
}
.nav_items a{
  font-weight: bold;
  font-size: 18px;
  margin: 15px;
  color: white;
  text-decoration: none;
  position: relative;
}
.nav_items a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.5s;
}
.nav_items a:hover::before{
  width: 100% !important;
}

.nav_toggle {
  display: none;
}
/* MAIN */

main{
  background-image: url(./img/ideal-kilo-diyeti.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  padding: 10vh 3vw;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  align-items: center;
}
/* FOOTER */
footer{
  background: rgb(184, 238, 212);
  height: 60px;
  display: flex;
  justify-content: space-between;
  color: white;
}

/* calculadora de IMC */
h1 {
  text-align: center;
}

.calculator {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

button:hover {
  background-color: #0069d9;
}

.result {
  display: none;
  margin-top: 20px;
}

.result p {
  margin-bottom: 10px;
}

.result h2 {
  font-size: 48px;
  margin: 0;
}

.error {
  color: red;
}



/* Estilos para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
    .nav_items {
      position: absolute;
      left: 0;
      top: 60px;
      background: rgba(184, 238, 212, 0.79);
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      transform: translateX(-100%);
      transition: 0.3s ease all;
    }
    .nav_items a{
      text-align: center;
    }
    .nav_toggle {
      display: flex !important;
      flex-direction: column;
      margin: 15px;
    }
    .nav_toggle span{
      width: 30px;
      height: 4px;
      background: white;
      margin-bottom: 5px;
      border-radius: 2px;
      transform-origin: 5px 0px;
      transition: 0.2s linear;
    }
    .close span{
      transform: rotate(45deg) translate(0px, 0px);
    }
    .close span:nth-child(2){
      display: none;
    }
    .close span:nth-child(3){
      transform: rotate(-45deg) translate(-5px, 1px);
    }
    .open {transform: translateX(0) !important;}


    /* Ajustar el tamaño de la fuente */
    h1 {
      font-size: 2rem;
    }
    label {
      font-size: 1.2rem;
    }
    input[type="text"], input[type="number"] {
      font-size: 1.2rem;
      width: 80%;
    }
    button {
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
    }
  }
  